@keyframes marquee-loop {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0); /* 0~10% 구간 멈춤 */
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-loop-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.marquee-loop-content {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}
