@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pretendard-Light;
  font-weight: 300;
  src:
    local("Pretendard Light"),
    url("./assets/fonts/Pretendard-Light.woff") format("woff"),
    url("./assets/fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard-Regular;
  font-weight: 300;
  src:
    local("Pretendard Regular"),
    url("./assets/fonts/Pretendard-Regular.woff") format("woff"),
    url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard-Medium;
  font-weight: 300;
  src:
    local("Pretendard Medium"),
    url("./assets/fonts/Pretendard-Medium.woff") format("woff"),
    url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard-SemiBold;
  font-weight: 300;
  src:
    local("Pretendard SemiBold"),
    url("./assets/fonts/Pretendard-SemiBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard-Bold;
  font-weight: 300;
  src:
    local("Pretendard Bold"),
    url("./assets/fonts/Pretendard-Bold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard-ExtraBold;
  font-weight: 300;
  src:
    local("Pretendard ExtraBold"),
    url("./assets/fonts/Pretendard-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-ExtraBold.woff2") format("woff2");
}

@layer base {
  html,
  body {
    @apply h-dvh w-full m-0 bg-white;
  }

  #root {
    @apply bg-offWhite w-full portrait:h-dvh landscape:h-dvh portrait:relative portrait:mx-auto portrait:min-w-[344px] portrait:max-w-[576px];
  }
}

/* Z Fold 5 */
@media screen and (max-width: 344px) {
  html {
    @apply text-[12px];
  }
}

/* 스마트폰 모바일(세로) ~ 479px*/
@media screen and (min-width: 375px) and (max-width: 479px) {
  html {
    @apply text-[14px];
  }
}

/* 스마트폰 모바일(가로) & 태블릿 세로 */
@media screen and (min-width: 480px) and (max-width: 767px) {
  html {
    @apply text-[16px];
  }
}

/* 태블릿 가로 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    @apply text-[18px];
  }
}

/* 노트북 & 이외 사이즈 */
@media screen and (min-width: 1024px) {
  html {
    @apply text-[24px];
  }
}
